annotated-types==0.6.0
anyio==4.0.0
certifi==2023.7.22
charset-normalizer==3.3.0
docopt==0.6.2
filelock==3.13.0
fsspec==2023.10.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
idna==3.4
imagescanner==0.8.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.0
opencv-python==4.8.1.78
packaging @ file:///private/tmp/python-packaging-20231001-5185-130bhz9/packaging-23.2
Pillow==10.0.1
pipreqs==0.4.13
protobuf==4.21.12
pybind11 @ file:///private/tmp/pybind11-20230915-5888-ix9zuq/pybind11-2.11.1
pydantic==2.5.0
pydantic_core==2.14.1
pygame==2.4.0
pyinsane2==2.0.13
python-dotenv==1.0.0
PyYAML @ file:///private/tmp/pyyaml-20230913-6026-7ryz4v/PyYAML-6.0.1
replicate==0.18.1
requests==2.31.0
sniffio==1.3.0
sympy==1.12
tk==0.1.0
torch==2.1.0
typing_extensions @ file:///private/tmp/python-typing-extensions-20230920-5989-1l9k81c/typing_extensions-4.8.0/dist/typing_extensions-4.8.0-py3-none-any.whl#sha256=a59413bd4c912cdedf47337addcc92dbc24253088639a1960da0e7c4d08453da
urllib3==2.0.6
yarg==0.1.9
